* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #0b0b0b;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

h1 {
    position: fixed;
    top: 20px;
    left: 20px;
    opacity: 0.7;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

